/* Add CSS Styling */



.odd{
    background-color: pink;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#number-two{
    font-size: 36px;
    color: blue;
}

.number-three{
    font-size: 24px;
}

#number-four{
    font-size: 24px;
    background-color: rgb(37, 220, 37);
    font-weight: bold;
}






